{% block header %}
    <div class="bg-image" style="background-image: url('/static/banner.jpg')">
        <div class="accordion-header text-light">
            <div class="container justify-content-center">
                <h1 style="text-shadow: 2px 2px 2px black; color: #fff6e9">Recipe project</h1>
                <nav class="navbar navbar-expand navbar-dark text-white">
                    <div class="text-white col-md-5">
                        <ul class="navbar-nav mr-auto text-white">
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'home' %}>Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'category' %}>Категории</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'constructor' %}>Конструктор</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'about' %}>О нас</a>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href={% url 'user_profile' %}>Профиль</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href={% url 'login' %}>Войти</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
                <div class="mb-2 pb-2">
                    <form action="{% url 'search' %}" method="get">
                        <label>
                            <input name="search" type="text" placeholder="Поиск...">
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}