 {% block header %}
    <div class="bg-image" style="background-image: url('/static/banner.jpg')">
        <div class="accordion-header text-light">
            <div class="container justify-content-center">
                <h1>Recipe project</h1>
                <nav class="navbar navbar-expand navbar-dark text-white">
                    <div class="text-white">
                        <ul class="navbar-nav mr-auto text-white">
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'home' %}>Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'category' %}>Категории</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'constructor' %}>Конструктор</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'about' %}>О нас</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}