.lokard {
    width: 100px;
    height: 100px;
    border: 10px black;
    background-color: blue;
}

.banner {
    background: url("../banner.png") no-repeat;
    height: auto;
    width: 1920px;
    background-size: cover;
}
