{% extends 'main_recipe/base.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div>
            <p>Вы можете выбрать ингредиенты из списка, или перечислить их в описании рецепта.
                Каждый рецепт должен содержать: название, категорию, ингредиенты, пошаговое описание приготовления.
                В описании рецепта не забывайте указывать вес используемых продуктов.
                После того, как вы добавите рецепт, он пройдет стадию модерации и затем будет доступен всем пользователям.
            </p>
            <h3>Название рецепта</h3>
            {{ form.recipe_title }}
        </div>
        <div>
            <h4>Категория</h4>
            {{ form.category }}
        </div>
        <div>
            <h4>Ингредиенты</h4>
            {{ form.ingredient }}
        </div>
        <div>
            <h4>Описание рецепта</h4>
            {{ form.recipe_text }}
        </div>
        <div>
            <h4>Изображение</h4>
            {{ form.image }}
        </div>
    <input type="submit" value="Добавить рецепт">
    </form>
{% endblock %}