{% extends 'main_recipe/base.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div>
            <p>You can select ingredients from our available list, or list them in the recipe description.
                Each recipe should contain: name, category, ingredients, step-by-step description of the preparation.
                In the recipe description, do not forget to indicate the weight of the products used.
                After you add a recipe, it will go through the moderation stage and then will be available to all users.
            </p>
            <h3>Recipe title</h3>
            {{ form.recipe_title }}
        </div>
        <div>
            <h4>Category</h4>
            {{ form.category }}
        </div>
        <div>
            <h4>Ingredient</h4>
            {{ form.ingredient }}
        </div>
        <div>
            <h4>Description</h4>
            {{ form.recipe_text }}
        </div>
        <div>
            <h4>Image</h4>
            {{ form.image }}
        </div>
    <input type="submit" value="Add recipe">
    </form>
{% endblock %}