{% extends 'main_recipe/base.html' %}
    {% block content %}
        <div>
            <ul class="list-group list-group-horizontal">
                {% for topic in topics %}
                    <li class="list-group-item col-md-4">{{ topic.topic_title }}</li>
                {% endfor %}
            </ul>
            <hr>
        </div>
        <div>
            <ul class="list-group list-group-horizontal">
                {% for recipe in recipes %}
                    <li class="list-group-item col-md-4">{{ recipe.recipe_title }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
